.center {
  position: fixed;
  inset: 0;
  margin: auto;

  height: 10em;
  width: 25em;
}

div {
  position: fixed;
  inset: 0;
  margin: auto;

  height: 100px;
  width: 100px;
  background-color: red;
}
